@model IEnumerable<string>
@{
    ViewBag.Title = "Home Page";
}

<h3>Things</h3>

@Html.Kendo().TreeView().Name("myThings").DataSource(datasource=>datasource
.Read(read=>read.Action("Index", "Employees"))
).DataTextField("Name")
